{% extends "base.html" %}

{% block title %}Administrador{% endblock %}

{% block content %}
    <h2 class="text-center">Admnistrator</h2>

    {% include "message.html" %}
<br>
<div>

 <input type="submit" value="Submit" id="submit-button" onClick="EnableSubmit(this)">
 <input type = "hidden" name = "songandartist" value = "{{song_name , song_artist}}">
    <h3  class="text-center"> Employees Menu </h3>
    <div class="table-container">
        <table class="table">
            <tr>
                <tr>
                    <td width="210" colspan="2" height="22">
                      <center>
                        <button type="submit" class="checkout-button" id="checkout-button" name="checkout-button" disabled="disabled"></button>
                        <a href="/admin/createEmployee" class="link">Create Employee</a>
                        <a href="/admin/updateEmployee" class="link">Update Employee</a>
                        <a href="/admin/deleteEmployee" class="link">Delete Employee</a>
                        <a href="/admin/employeesConsult" class="link">Employees Consult</a>
                        <a href="/admin/employeesConsultReviews" class="link">Employees Consult Reviews</a>
                      </center>

                    </td>
                  </tr>
                
            

        </table>
    </div>
{% endblock %}