{% extends "base.html" %}

{% block content %}
    {% include "message.html" %}

    <h2 class="text-center">Create Employees</h2>


    <form method="POST" class="forms">
        <input type="text" placeholder="Name" name="name" class="entry"/>
        <input type="integer" placeholder="Shop Id" name="shop_id" class="entry"/>
        <input type="text" placeholder="Adress" name="adress" class="entry"/>
        <input type="text" placeholder="Identification" name="ident" class="entry"/>
        <input type="text" placeholder="Phone" name="phone" class="entry"/>
        <input type="text" placeholder="Email" name="email" class="entry"/>
        <input type="integer" placeholder="Salary" name="salary" class="entry"/>
        <input type="integer" placeholder="Position Id" name="position_id" class="entry"/>
        <input type="integer" placeholder="Country Id" name="country" class="entry"/>


        <button class="button">Create</button>
    </form>
{% endblock %}